.form{
    &__input{
        font-family: inherit;
        font-size: 1.5rem;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        width: 90%;
        display: block;
        border-bottom: 3px solid transparent;

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }
    }
    &__label{

    }


    &__group{
        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }
}