.u-center-text{
    text-align: center;
// used for centering inline elements in a block level element
}
.u-margin-bottom-big{
    margin-bottom: 8rem;
}

.u-margin-bottom-medium{
    margin-bottom: 6rem;
}

.u-margin-bottom-small{
    margin-bottom: 1.5rem;
}